* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
#sidebar {
  position: fixed;
  width: 250px;
  background: #57626f;
  border-right: 4px solid #e0e5ea;
  left: -260px;
  -moz-transition: all 600ms;
  -webkit-transition: all 600ms;
  transition: all 600ms;
}
#sidebar.active {
  left: 0px;
}
#sidebar ul li:first-child {
  text-align: center;
  color: white;
  font-size: 1.95em;
  list-style: none;
  padding: 25px 10px 10px 10px;
}
#sidebar ul li:not(:first-child) {
  width: 90%;
  margin-left: 10%;

  font-size: 1.1em;
  list-style: none;
  padding: 15px 10px;
}
#sidebar ul li a {
  color: #d6d6d6;
  text-decoration: none;
}
#sidebar ul li a:hover {
  color: rgb(255, 252, 97);
}
#sidebar .toggle-btn {
  position: absolute;
  left: 270px;
  top: 20px;
  background: #ecff40;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
#sidebar .toggle-btn:hover {
  background: #556270;
}
#sidebar .toggle-btn:hover span {
  background: #fafafa;
}
#sidebar .toggle-btn span {
  display: block;
  width: 25px;
  height: 4px;
  background-color: #666;
  margin: 4px 0;
}
